<% if notice %>
 <div id="notice_wrapper" class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span> 🎉 <%= notice %></span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% elsif alert %>
  <div id="notice_wrapper" class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span>😱 <%= alert %></span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
