<li class="nav-item">
  <%= link_to "Entries", posts_path, class: "nav-link #{active?(posts_path)}" %>
</li>
<li class="nav-item">
  <%= link_to "Submit Hours", new_post_path, id: 'new_post_from_nav', class: "nav-link #{active?(new_post_path)}" %>
</li>
