<li class="nav-item">
  <%= link_to "Time Entries", posts_path, class: "nav-link #{active?(posts_path)}" %>
</li>
<li class="nav-item">
  <%= link_to "Request Overtime", new_post_path, id: 'new_post_from_nav', class: "nav-link #{active?(new_post_path)}" %>
</li>
