<h1>Posts</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Hours
      </th>
      <th>
        Date
      </th>
      <th class="d-none d-lg-block">
        Rationale
      </th>
      <th>
        Status
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<%= paginate @posts %>

