@import "bourbon";
@import "posts.scss";
@import "audit_logs.scss";
@import "admin_homepage.css";
@import "employee_homepage.css";

.custom-nav {
  margin-top: 15px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88 !important;
}

.flash-danger {
  border: 2px solid #FD1015 !important;
}

.logo {
  display: flex;
}




