.custom-nav {
  margin-top: 15px;
}

#notice_wrapper {
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 999;
 background: rgba(135, 216, 211, 0.85);
 .alert, .notice {
  padding: 2.5rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weigth: 700;
  color: #FFF;
  letter-spacing: 1px;
 }
}

